<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhzf.mapper.AuditMapper">
    <insert id="addAudit">
        insert into payment_audit(audit_user_id,audit_store_name,audit_store_head_image,audit_store_number,audit_store_identify_image,audit_store_identify_card_front,audit_store_identify_card_back)
        values(#{userId},#{auditStoreName},#{auditStoreHeadImage},#{auditStoreNumber},#{auditStoreIdentifyImage},#{auditStoreIdentifyCardFront},#{auditStoreIdentifyCardBack})
    </insert>
</mapper>