<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhzf.mapper.UserMapper">

    <update id="modifyPwd">
        UPDATE payment_user SET user_pwd = #{newPwd} WHERE user_id = #{userId};
    </update>
    <select id="selectUserMsg" resultType="com.jhzf.pojo.PaymentUser">
        select * from payment_user where user_pwd = #{oldPwd} and user_id = #{userId};
    </select>

</mapper>